@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>
    Introduction
    Islamdash ("we", "us" or "our") is committed to protecting your privacy. This Privacy Policy describes how we collect, use, disclose and protect your personal information in accordance with Swiss data protection laws, including the Federal Act on Data Protection (FADP).
    <h1>Information we collect</h1><br />

    We collect personal information that you voluntarily provide to us when you use our website or services. This includes:<br>
    - Contact information: Name, email address, phone number, postal address.<br />
    - Account information: Username, password, profile information.<br />
    - Transaction information: Details of bookings, purchases and other transactions.<br />
    - Communication data: Records of your communications with us.<br />
    - Technical Data: IP address, browser type, operating system and other technical details collected through cookies and similar technologies.<br /><br />
    <h1>How we use your information</h1><br />
    We use your personal data to:<br />
    - Provide and administer our services, including booking and travel arrangements.<br />
    - Process transactions and send you relevant information, such as booking confirmations and invoices.<br />
    - Communicate with you about your account, provide customer support and respond to your requests.<br />
    - Personalize and improve our services, including providing recommendations and tailored content.<br />
    - Carry out marketing and promotional activities where you have consented to receive such communications<br />
    - Comply with legal obligations and protect our legal rights.<br /><br />
    
    <h1>Sharing your information</h1><br />
    We may share your personal information with:<br />
    - Service providers: third party companies and individuals who provide services on our behalf, such as payment processing, data analysis and email delivery.<br />
    - Business partners: travel agencies, hotels, airlines and other partners necessary to make your travel arrangements.<br />
    - Public authorities: Government authorities or other bodies when required by law or necessary to protect our rights.<br /><br />
    <h1>Data security</h1><br />
    We implement appropriate technical and organizational measures to protect your personal data from unauthorized access, alteration, disclosure or destruction. These measures include encryption, access controls and secure data storage.
    Data retention<br />
    We will only retain your personal data for as long as necessary to fulfill the purposes for which it was collected, comply with legal obligations, resolve disputes and enforce our agreements.<br /><br />
    <h1>Your rights</h1><br />
    Under Swiss data protection law, you have the right to<br />
    - Request access to your personal data and request a copy of it.<br />
    - Request the rectification of inaccurate or incomplete personal data.<br />
    - To request the deletion of your personal data, subject to legal and contractual restrictions.<br />
    - Object to the processing of your personal data for direct marketing purposes.<br />
    - To withdraw your consent to the processing of your personal data at any time.<br /><br />
    <h1>Cookies and tracking technologies</h1><br />
    We use cookies and similar tracking technologies to collect and use personal data about you. You can control cookies through your browser settings and other tools.<br /><br />
    <h1>Changes to this Privacy Policy</h1><br />
    We may update this Privacy Policy from time to time. We will notify you of material changes by posting the new Privacy Policy on our website and updating the effective date at the top of this document.<br />
    If you have any questions or concerns about this Privacy Policy or our privacy practices, please contact us at<br />
    By using our website or services, you agree to the terms of this privacy policy.
</p>
