html {
    font-size: 14px;

}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #282828;
    color: white;
}

.page-container {
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
    background-color: #282828;
}

.page-button {
    display: inline-block;
    background-color: #555555;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    .page-button:hover {
        background-color: #666666;
    }

    .page-button:active, .page-button.button-active {
        background-color: orange;
        color: white;
    }


.page-container::-webkit-scrollbar {
    height: 12px;
}

.page-container::-webkit-scrollbar-track {
    background: #282828;
}

.page-container::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 6px;
    border: 3px solid #282828;
}

    .page-container::-webkit-scrollbar-thumb:hover {
        background-color: #666666;
    }

#bookmarksList {
    padding: 20px;
    background-color: #333333;
    border-radius: 8px;
    margin-right: 10px;
}

.bookmarked-pages {
    list-style: none;
    padding: 0;
}

    .bookmarked-pages li {
        margin-bottom: 10px;
    }

        .bookmarked-pages li a {
            color: orange;
            text-decoration: none;
            transition: color 0.3s, text-decoration 0.3s;
        }

            .bookmarked-pages li a:hover {
                color: orange;
                text-decoration: underline;
            }

#quranPage {
    padding: 20px;
    background-color: #333333;
    border-radius: 8px;
    margin-right: 10px;
}


.bookmark-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #555555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

    .bookmark-button:hover {
        background-color: #666666;
    }

    .bookmark-button:active {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

.add-bookmark {
    background-color: #258cfb;
}

.remove-bookmark {
    background-color: orange;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1em;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}


.day {
    border: 1px solid #ccc;
    padding: 1em;
    text-align: center;
}

.today {
    border: 0px;
    outline: 2px solid orange;
}

.arrow-button {
    background-color: transparent;
    color: orange;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s;
}

    .arrow-button:hover {
        color: darkorange;
    }

.current-month-button {
    top: 10px;
    right: 10px;
    background-color: #555555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .current-month-button:hover {
        background-color: #666666;
    }

    .current-month-button:active {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
