@model webislamdash.Models.Prayer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Prayer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrayerName" class="control-label"></label>
                <input asp-for="PrayerName" class="form-control" />
                <span asp-validation-for="PrayerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrayerTime" class="control-label"></label>
                <input asp-for="PrayerTime" class="form-control" />
                <span asp-validation-for="PrayerTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrayerDate" class="control-label"></label>
                <input asp-for="PrayerDate" class="form-control" />
                <span asp-validation-for="PrayerDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrayerLocation" class="control-label"></label>
                <input asp-for="PrayerLocation" class="form-control" />
                <span asp-validation-for="PrayerLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
